  <link rel='stylesheet' href='/stylesheets/chatbot.css' />


<div class="chat-history">
  <div class="chat">
    <img src="/w3images/bandmember.jpg" alt="Avatar">
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
  </div>

  <div class="chat darker">
    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
    <p>Hey! I'm fine. Thanks for asking!</p>
    <span class="time-left">11:01</span>
  </div>
</div>

<div class="form-row align-items-center">
    <div class="col-10">
      <input type="text" name="message" class="form-control mb-2" id="message" placeholder="Enter Command">
    </div>
    <div class="col-2">
      <button name="submit" type="submit" class="btn btn-primary mb-2" id="submit">Send</button>
    </div>
</div>

<script src="/javascripts/chatbot.js"></script>

