 /* Chat chats */
 .chat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat chat */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.chat::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.chat img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.chat img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}  /* Chat chats */
.chat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat chat */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.chat::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.chat img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.chat img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
} 


/** MY STYLING **/
.chat-history{
  height: 500px;
  overflow-y: scroll;
  background-color: lightblue;
}

.products{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;


  display: flex;
  justify-content: space-evenly;
}

.product{
  text-align: center;
}

.product > img{
  height: 100px;
}

.cart{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;

  display: flex;
  justify-content: space-evenly;
}


.cart-item > .det{
  display: flex;
  justify-content: space-between;
}